.chapter3 {

}

.chapter3-character-box {
  width: 120%;
  height: 40vmin;
  position: absolute;
  left: calc(50% - 60%);
  top: calc(50% - 20vmin);
  opacity: 0;
  overflow: hidden;

  .chapter3-character-mask {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
  }
  .chapter3-character-mask1 {
    top: 0;
  }
  .chapter3-character-mask2 {
    bottom: 0;
  }
  .chapter3-character {
    background-position-x: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
// part1
.chapter3-open1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;

  span {
    width: 12.5%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: $theme-blue;
    transform: translateY(-100%);
  }
}
.chapter3-character-box1 {
  transform: rotate(-5deg);

  .chapter3-character-mask {
    background-color: $theme-blue;
  }

  .chapter3-character1 {
    background-image: url('/img/character-blue.png');
    background-position-y: calc(5%);
    background-size: 30%;
    background-color: #fff;
  
    @media screen and (max-width: 750px) {
      background-size: 60%;
    }
  }
}
// part2
.chapter3-open2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;

  span {
    width: 12.5%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: $theme-red;
    transform: translateY(100%);
  }
}
.chapter3-character-box2 {
  .chapter3-character-mask {
    background-color: $theme-red;
  }

  .chapter3-character2 {
    background-image: url('/img/character-red.png');
    background-position-y: calc(10%);
    background-size: 30%;
    background-color: #fff;
  
    @media screen and (max-width: 750px) {
      background-size: 60%;
    }
  }
}
// part3
.chapter3-open3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;

  span {
    width: 12.5%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: $theme-yellow;
    transform-origin: center;
    transform: scaleY(0);
  }
}
.chapter3-character-box3 {
  .chapter3-character-mask {
    width: 100%;
    height: 100%;
    background-color: $theme-yellow;
  }

  .chapter3-character-mask1 {
    transform: translateX(0);
  }

  .chapter3-character-mask2 {
    transform: translateX(100%);
  }

  .chapter3-character3 {
    background-image: url('/img/character-yellow.png');
    background-position-y: calc(16%);
    background-size: 30%;
    background-color: #fff;
  
    @media screen and (max-width: 750px) {
      background-size: 60%;
    }
  }
}

// part4
.chapter3-open4 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  span {
    width: 100%;
    height: 12.5%;
    position: relative;
    display: inline-block;
    background-color: $theme-pink;
    transform-origin: center;
    transform: scaleX(0);
  }
}
.chapter3-character-box4 {
  .chapter3-character-mask {
    width: 100%;
    height: 100%;
    background-color: $theme-pink;
  }

  .chapter3-character-mask1 {
    transform: translateY(0);
  }

  .chapter3-character-mask2 {
    transform: translateY(-100%);
  }

  .chapter3-character4 {
    background-image: url('/img/character-pink.png');
    background-position-y: calc(14%);
    background-size: 30%;
    background-color: #fff;
  
    @media screen and (max-width: 750px) {
      background-size: 60%;
    }
  }
}

// part5
.chapter3-open5 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .chapter3-open5-group1, .chapter3-open5-group2 {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;

    span {
      width: 12.5%;
      height: 100%;
      position: relative;
      display: inline-block;
      background-color: $theme-purple;
    }
  }

  .chapter3-open5-group1 {
    top: 0;
    span {
      transform: translateY(-100%);
    }
  }

  .chapter3-open5-group2 {
    bottom: 0;
    span {
      transform: translateY(100%);
    }
  }
}
.chapter3-character-box5 {
  .chapter3-character-mask {
    width: 100%;
    height: 100%;
    background-color: $theme-purple;
  }

  .chapter3-character-mask1 {
    transform: translateY(0);
  }

  .chapter3-character-mask2 {
    transform: translateY(-100%);
  }

  .chapter3-character5 {
    background-image: url('/img/character-purple.png');
    background-position-y: calc(19%);
    background-size: 30%;
    background-color: $theme-bg-color-2;
  
    @media screen and (max-width: 750px) {
      background-size: 60%;
    }
  }
}

.chapter3-close-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  span {
    display: inline-block;
    width: 50%;
    height: 50%;
    background-color: #fff;
    opacity: 0;
  }
}

/* Animations */
// group1
.chapter3-open1 {
  @for $i from 1 through 8 {
    span:nth-child(#{$i}) {
      animation: top-slide-in .4s ease #{($i - 1) * 0.1}s forwards;
    }
  }
}
.chapter3-character-box1 {
  $animation-time: .6;
  $animation-delay: 1.1;

  animation: fadein .1s ease #{$animation-delay}s forwards;

  .chapter3-character-mask1 {
    animation: top-slide-out #{$animation-time}s ease #{$animation-delay}s forwards, top-slide-in #{$animation-time - .1}s ease #{$animation-delay + 0.2 + $animation-time}s forwards;
  }

  .chapter3-character-mask2 {
    animation: bottom-slide-out #{$animation-time}s ease #{$animation-delay}s forwards, bottom-slide-in #{$animation-time - .1}s ease #{$animation-delay + 0.2 + $animation-time}s forwards;
  }
}

// group2
.chapter3-open2 {
  @for $i from 1 through 8 {
    span:nth-child(#{$i}) {
      animation: bottom-slide-in .4s ease #{0.7 - (($i - 1) * 0.1) + 2.4}s forwards;
    }
  }
}
.chapter3-character-box2 {
  $animation-time: .6;
  $animation-delay: 3.5;
  
  animation: fadein .1s ease #{$animation-delay}s forwards;

  .chapter3-character-mask1 {
    animation: top-slide-out #{$animation-time}s ease #{$animation-delay}s forwards, top-slide-in #{$animation-time - .1}s ease #{$animation-delay + 0.2 + $animation-time}s forwards;
  }

  .chapter3-character-mask2 {
    animation: bottom-slide-out #{$animation-time}s ease #{$animation-delay}s forwards, bottom-slide-in #{$animation-time - .1}s ease #{$animation-delay + 0.2 + $animation-time}s forwards;
  }
}

// group3
.chapter3-open3 {
  @for $i from 1 through 8 {
    span:nth-child(#{$i}) {
      animation: scaleY0-1 .4s ease #{($i - 1) * 0.1 + 4.8}s forwards;
    }
  }
}
.chapter3-character-box3 {
  $animation-time: .6;
  $animation-delay: 5.9;
  
  animation: fadein .1s ease #{$animation-delay}s forwards;

  .chapter3-character-mask1 {
    animation: left-slide-out #{$animation-time}s ease #{$animation-delay}s forwards;
  }

  .chapter3-character-mask2 {
    animation: right-slide-in #{$animation-time}s ease #{$animation-delay + .7}s forwards;
  }
}

// group4
.chapter3-open4 {
  @for $i from 1 through 8 {
    span:nth-child(#{$i}) {
      animation: scaleX0-1 .4s ease #{($i - 1) * 0.1 + 7.2}s forwards;
    }
  }
}
.chapter3-character-box4 {
  $animation-time: .6;
  $animation-delay: 8.3;
  
  animation: fadein .1s ease #{$animation-delay}s forwards;

  .chapter3-character-mask1 {
    animation: bottom-slide-out #{$animation-time}s ease #{$animation-delay}s forwards;
  }

  .chapter3-character-mask2 {
    animation: top-slide-in #{$animation-time}s ease #{$animation-delay + .7}s forwards;
  }
}

// group5
.chapter3-open5 {
  $open-delay: 9.6;

  .chapter3-open5-group1 {
    @for $i from 1 through 4 {
      span:nth-child(#{$i}) {
        animation: top-slide-in .4s ease #{($i - 1) * 0.1 + $open-delay}s forwards;
      }
    }
    @for $i from 5 through 8 {
      span:nth-child(#{$i}) {
        animation: top-slide-in .4s ease #{0.7 - ($i - 1) * 0.1 + $open-delay}s forwards;
      }
    }
  }

  .chapter3-open5-group2 {
    @for $i from 1 through 4 {
      span:nth-child(#{$i}) {
        animation: bottom-slide-in .4s ease #{($i - 1) * 0.1 +$open-delay}s forwards;
      }
    }
    @for $i from 5 through 8 {
      span:nth-child(#{$i}) {
        animation: bottom-slide-in .4s ease #{0.7 - ($i - 1) * 0.1 + $open-delay}s forwards;
      }
    }
  }
}
.chapter3-character-box5 {
  $animation-time: .6;
  $animation-delay: 10.3;
  
  animation: fadein .1s ease #{$animation-delay}s forwards;

  .chapter3-character-mask1 {
    animation: top-slide-out #{$animation-time}s ease #{$animation-delay}s forwards;
  }

  .chapter3-character-mask2 {
    animation: bottom-slide-in #{$animation-time}s ease #{$animation-delay + .7}s forwards;
  }
}

.chapter3-close-box {
  @for $i from 1 through 4 {
    span:nth-child(#{$i}) {
      animation: fadein .1s linear #{11.6 + ($i - 1) * 0.05}s alternate 5 forwards;
    }
  }
}