$color-animation-change-time: 1s;
.chapter-home {
  background-color: $theme-bg-color-1;
  background-image: url('/img/texture.png');
  background-repeat: repeat;
  background-size: 8rem;
}

.chapter-home-bg-color-yellow {
  &::after {
    background-color: $theme-yellow;
    animation: common__bg-color-change-5 $color-animation-change-time ease forwards;
  }
}
.chapter-home-bg-color-red {
  &::after {
    background-color: $theme-red;
    animation: common__bg-color-change-1 $color-animation-change-time ease forwards;
  }
}
.chapter-home-bg-color-blue {
  &::after {
    background-color: $theme-blue;
    animation: common__bg-color-change-2 $color-animation-change-time ease forwards;
  }
}
.chapter-home-bg-color-pink {
  &::after {
    background-color: $theme-pink;
    animation: common__bg-color-change-3 $color-animation-change-time ease forwards;
  }
}
.chapter-home-bg-color-purple {
  &::after {
    background-color: $theme-purple;
    animation: common__bg-color-change-4 $color-animation-change-time ease forwards;
  }
}

.chapter-home-border-color-yellow {
  &, &::after {
    border-color: $theme-yellow;
    animation: common__border-color-change-5 $color-animation-change-time ease forwards;
  }
}
.chapter-home-border-color-red {
  &, &::after {
    border-color: $theme-red;
    animation: common__border-color-change-1 $color-animation-change-time ease forwards;
  }
}
.chapter-home-border-color-blue {
  &, &::after {
    border-color: $theme-blue;
    animation: common__border-color-change-2 $color-animation-change-time ease forwards;
  }
}
.chapter-home-border-color-pink {
  &, &::after {
    border-color: $theme-pink;
    animation: common__border-color-change-3 $color-animation-change-time ease forwards;
  };
}
.chapter-home-border-color-purple {
  &, &::after {
    border-color: $theme-purple;
    animation: common__border-color-change-4 $color-animation-change-time ease forwards;
  }
}

.chapter-home-init-true {
  .chapter-home-bg-color-yellow {
    &::after {
      background-color: $theme-yellow;
      animation: fadein $color-animation-change-time ease forwards;
    }
  }

  .chapter-home-border-color-yellow {
    & {
      animation: fadein $color-animation-change-time ease forwards;
    }
  }
}

.chapter-home__wrap {
  $gap: 4vmin;
  position: absolute;
  left: calc(#{$gap} / 2);
  top: calc(#{$gap} / 2);
  width: calc(100% - #{$gap});
  height: calc(100% - #{$gap});
  overflow: hidden;
}

.chapter-home__frame {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.chapter-home__frame-group {
  position: absolute;

  $span-line-size: 4px;
  span {
    display: block;
    position: absolute;
    background-color: unset;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .chapter-home__frame-line1 {
    top: 0;
    left: 0;
    width: 100%;
    height: $span-line-size;
  }
  .chapter-home__frame-line2 {
    top: 0;
    left: 0;
    width: $span-line-size;
    height: 100%;
  }
  .chapter-home__frame-line3 {
    top: 0;
    right: 0;
    width: $span-line-size;
    height: 100%;
  }
  .chapter-home__frame-line4 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: $span-line-size;
  }
}

.chapter-home__frame-group1 {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;

  .chapter-home__frame-line1 {
    transform: translateX(100%);
  }
  .chapter-home__frame-line2 {
    transform: translateY(-100%);
  }
  .chapter-home__frame-line3 {
    transform: translateY(100%);
  }
  .chapter-home__frame-line4 {
    transform: translateX(-100%);
  }
}

.chapter-home__frame-group2 {
  $gap: 4vmin;
  width: calc(100% - #{$gap});
  height: calc(100% - #{$gap});
  left: calc(#{$gap} / 2);
  top: calc(#{$gap} / 2);
  overflow: hidden;

  .chapter-home__frame-line1 {
    transform: translateX(-100%);
  }
  .chapter-home__frame-line2 {
    transform: translateY(100%);
  }
  .chapter-home__frame-line3 {
    transform: translateY(-100%);
  }
  .chapter-home__frame-line4 {
    transform: translateX(100%);
  }
}

.chapter-home__rings {
  $size: 160vmin;
  position: absolute;
  width: $size;
  height: $size;
  left: calc(50% - #{$size} / 2);
  top: calc(50% - #{$size} / 2);

  .chapter-home__rings-decoration, .chapter-home__rings-main {
    border-radius: 50%;
    border-width: 2px;
  }
  .chapter-home__rings-decoration {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid; 
  }
  .chapter-home__rings-main {
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border-style: dashed;
    overflow: hidden;

    &::after {
      $size: 70%;
      content: "";
      position: absolute;
      width: $size;
      height: $size;
      left: calc(50% - #{$size} / 2);
      top: calc(50% - #{$size} / 2);
      border-radius: 50%;
      opacity: 0;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: calc(10%);
      background-size: 100%;
      box-shadow:0 0 50px 30px #ffffff inset;
    }
  }
}

.chaper-home-yellow {
  .chapter-home__rings-main-yellow::after { background-image: url('/img/character-yellow.png'); }
}
.chaper-home-red {
  .chapter-home__rings-main-red::after { background-image: url('/img/character-red.png'); }
}
.chaper-home-blue {
  .chapter-home__rings-main-blue::after { background-image: url('/img/character-blue.png'); }
}
.chaper-home-pink {
  .chapter-home__rings-main-pink::after { background-image: url('/img/character-pink.png'); }
}
.chaper-home-purple {
  .chapter-home__rings-main-purple::after { background-image: url('/img/character-purple.png'); }
}

.home-logo {
  position: absolute;
  width: 100%;
  height: 20vmin;
  left: 0;
  top: calc(50% - 10vmin);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-image: url("/img/logo.svg");
  background-color: rgba(255,255,255,.3);
  z-index: 10;
}

.chapter-home-links {
  $size: 4vmin;
  @media screen and (max-width: 750px) {
    $size: 8vmin;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $size;
  position: absolute;
  left: 0;
  top: calc(50% - #{$size} / 2 + 18vmin);

  

  .chapter-home-links-icon-wrap {
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 50%;
    background-color: rgba(77, 77, 77, .9);
    color: white;
    cursor: pointer;
    transform: scale(0);
    transform-origin: center center;

    &:nth-last-child(1) {
      margin-right: unset;
    }

    > i {
      $magnification: 0.65;
      display: inline-block;
      width: $size * $magnification;
      height: $size * $magnification;
      font-size: $size * $magnification;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.chapter-home-border-color-yellow {
  border-color: $theme-yellow;
}
.chapter-home-border-color-red {
  border-color: $theme-red;
}
.chapter-home-border-color-blue {
  border-color: $theme-blue;
}
.chapter-home-border-color-pink {
  border-color: $theme-pink;
}
.chapter-home-border-color-purple {
  border-color: $theme-purple;
}

/* Animations */
$line-animation-time: .4;
.chapter-home__frame-group1 {
  .chapter-home__frame-line2 {
    animation: top-slide-in #{$line-animation-time}s linear forwards;
  }
  .chapter-home__frame-line1 {
    animation: right-slide-in #{$line-animation-time}s linear #{$line-animation-time}s forwards;
  }
  .chapter-home__frame-line3 {
    animation: bottom-slide-in #{$line-animation-time}s linear forwards;
  }
  .chapter-home__frame-line4 {
    animation: left-slide-in #{$line-animation-time}s linear #{$line-animation-time}s forwards;
  }
}
.chapter-home__frame-group2 {
  .chapter-home__frame-line1 {
    animation: right-slide-in #{$line-animation-time}s linear forwards;
  }
  .chapter-home__frame-line2 {
    animation: top-slide-in #{$line-animation-time}s linear #{$line-animation-time}s forwards;
  }
  .chapter-home__frame-line4 {
    animation: left-slide-in #{$line-animation-time}s linear forwards;
  }
  .chapter-home__frame-line3 {
    animation: bottom-slide-in #{$line-animation-time}s linear #{$line-animation-time}s forwards;
  }
}
.chapter-home__rings-main-yellow::after,
.chapter-home__rings-main-red::after,
.chapter-home__rings-main-blue::after,
.chapter-home__rings-main-pink::after,
.chapter-home__rings-main-purple::after
{
  animation: chapter-home-character-show 2s ease forwards, chapter-home-character-hide 2s ease 5s forwards;
}

.chapter-home-links {
  $base-delay: .8;
  @for $i from 1 through 2 {
    .chapter-home-links-icon-wrap:nth-child(#{$i}) {
      animation: icon-scale-in .6s ease #{$base-delay + ($i - 1) * 0.1}s forwards;
    }
  }
}
