@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale0-1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes scale0-1-fade-out {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes top-slide-in {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes top-slide-out {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes bottom-slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes bottom-slide-out {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes left-slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes left-slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes bottom-slide-out {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes right-slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes right-slide-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes top-slide-through {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes bottom-slide-through {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes left-slide-through {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes right-slide-through {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes rotate-n90-0 {
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes rotate-90-0 {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes scaleY0-1 {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes scaleX0-1 {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes common__bg-color-change-1 {
	from {
		background-color: $theme-yellow;
	} to {
		background-color: $theme-red;
	}
}

@keyframes common__bg-color-change-2 {
	from {
		background-color: $theme-red;
	} to {
		background-color: $theme-blue;
	}
}

@keyframes common__bg-color-change-3 {
	from {
		background-color: $theme-blue;
	} to {
		background-color: $theme-pink;
	}
}

@keyframes common__bg-color-change-4 {
	from {
		background-color: $theme-pink;
	} to {
		background-color: $theme-purple;
	}
}

@keyframes common__bg-color-change-5 {
	from {
		background-color: $theme-purple;
	} to {
		background-color: $theme-yellow;
	}
}

@keyframes common__border-color-change-1 {
	from {
		border-color: $theme-yellow;
	} to {
		border-color: $theme-red;
	}
}

@keyframes common__border-color-change-2 {
	from {
		border-color: $theme-red;
	} to {
		border-color: $theme-blue;
	}
}

@keyframes common__border-color-change-3 {
	from {
		border-color: $theme-blue;
	} to {
		border-color: $theme-pink;
	}
}

@keyframes common__border-color-change-4 {
	from {
		border-color: $theme-pink;
	} to {
		border-color: $theme-purple;
	}
}

@keyframes common__border-color-change-5 {
	from {
		border-color: $theme-purple;
	} to {
		border-color: $theme-yellow;
	}
}

/* chapter-open-keyframes */
@keyframes chapter-open__bg-group1-in {
	0% {
		transform: translateX(-100%) translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}
@keyframes chapter-open__bg-group2-in {
	0% {
		transform: translateX(100%) translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0) translateY(0);
		opacity: 1;
	}
}

@keyframes chapter-open__switch-rotate-in {
	0% {
		transform: rotate(180deg);
	}
	85% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0);
	}
}

/* chapter-1-keyframes */
@keyframes chapter1__word-1-show {
	from {
		transform: translateY(-70vh) rotateY(0) rotateX(0);
		opacity: 0
	}

	to {
		transform: translateY(0) rotateY(360deg) rotateX(360deg);
		opacity: .7
	}
}
@keyframes chapter1__word-1-hidden {
	from {
		transform: translateY(0) rotateY(0) rotateX(0);
		opacity: .7
	}

	to {
		transform: translateY(70vh) rotateY(360deg) rotateX(360deg);
		opacity: 0
	}
}

@keyframes chapter1__word-2-show {
	from {
		transform: translateX(-70vw) rotateX(0) rotateY(0);
		opacity: 0
	}

	to {
		transform: translateX(0) rotateX(360deg) rotateY(360deg);
		opacity: .7
	}
}
@keyframes chapter1__word-2-hidden {
	from {
		transform: translateX(0) rotateX(0) rotateY(0);
		opacity: .7
	}

	to {
		transform: translateX(70vw) rotateX(360deg) rotateY(360deg);
		opacity: 0
	}
}

@keyframes chapter1__word-3-show {
	from {
		transform: translateX(70vw) rotateX(0) rotateY(0);
		opacity: 0
	}

	to {
		transform: translateX(0) rotateX(360deg) rotateY(360deg);
		opacity: .7
	}
}
@keyframes chapter1__word-3-hidden {
	from {
		transform: translateX(0) rotateX(0) rotateY(0);
		opacity: .7
	}

	to {
		transform: translateX(-70vw) rotateX(360deg) rotateY(360deg);
		opacity: 0
	}
}

@keyframes chapter1__word-4-show {
	from {
		transform: translateY(70vh) rotateY(360deg) rotateX(360deg);
		opacity: 0
	}

	to {
		transform: translateY(0) rotateY(0) rotateX(0);
		opacity: .7
	}
}
@keyframes chapter1__word-4-hidden {
	from {
		transform: translateY(0) rotateY(0) rotateX(0);
		opacity: .7
	}

	to {
		transform: translateY(-70vh) rotateY(360deg) rotateX(360deg);
		opacity: 0
	}
}

@keyframes chapter1__word-5-show {
	from {
		transform: scale(10) rotateX(0) rotateY(0);
		opacity: 0
	}

	to {
		transform: scale(1) rotateX(360deg) rotateY(360deg);
		opacity: .7
	}
}
@keyframes chapter1__word-5-hidden {
	from {
		transform: scale(1) rotateX(360deg) rotateY(360deg);
		opacity: .7
	}

	to {
		transform: scale(0) rotateX(0) rotateY(0);
		opacity: 0
	}
}

/* chapter-2-keyframes */
@keyframes chaprer2__noise-anim {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(150) + px, 9999px, random(140) + px, 0);
    }
  }
}

@keyframes chapter2__switch-group2-stone-in {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(-10vh);
	}
}


@keyframes chapter2__switch-group2-stone-out {
	0% {
		opacity: 1;
		transform: translateY(-10vh);
	}
	100% {
		opacity: 1;
		transform: translateY(70vh);;
	}
}

/* chapter-3-keyframes */


/* chapter-home-keyframes */
@keyframes chapter-home-character-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes chapter-home-character-hide {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 0;
	}
}
