@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale0-1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes scale0-1-fade-out {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes top-slide-in {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes bottom-slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes left-slide-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes bottom-slide-out {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes right-slide-out {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes top-slide-through {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes bottom-slide-through {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes left-slide-through {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes right-slide-through {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* chapter-open-keyframes */
@keyframes chapter-open__bg-group1-in {
	0% {
		transform: translateX(-100%) translateY(-100%);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}
@keyframes chapter-open__bg-group2-in {
	0% {
		transform: translateX(100%) translateY(100%);
	}
	100% {
		transform: translateX(0) translateY(0);
	}
}

@keyframes test-show {
	from {
		transform: translateY(-70vh) rotateY(0) rotateX(0);
		opacity: 0
	}

	to {
		transform: translateY(0) rotateY(360deg) rotateX(360deg);
		opacity: .7
	}
}

@keyframes test-out {
	from {
		transform: translateY(0) rotateY(0) rotateX(0);
		opacity: .7;
		background-color: unset;
	}

	to {
		transform: translateY(70vh) rotateY(360deg) rotateX(360deg);
		opacity: 0;
		background-color: unset;
	}
}