@import "variable";
@import "keyframes";
@import "chapter-open";
@import "chapter1";

.magia {
  &, & > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  span {
    display: inline-block;
  }
}